<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Art</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>

            <!-- Align items to the right -->
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a class="btn btn-success me-2" routerLink="/login">Login</a>
                </li>
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a class="btn btn-primary me-2" routerLink="/register">Register</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item">
                    <button class="btn btn-danger" (click)="logout()">Logout</button>
                </li>  
            </ul>
        </div>
    </div>
</nav>
