<app-navbar></app-navbar>
<div class="container mt-4">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="name">Post Name</label>
            <input type="text" class="form-control" formControlName="name" required>
            <div *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched" class="text-danger">
                Name is required!
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" formControlName="description" rows="3" required></textarea>
            <div *ngIf="formGroup.get('description')?.invalid && formGroup.get('description')?.touched" class="text-danger">
                Description is required!
            </div>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" formControlName="price" required>
            <div *ngIf="formGroup.get('price')?.invalid && formGroup.get('price')?.touched" class="text-danger">
                Price must be greater than 0!
            </div>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            <input type="text" class="form-control" formControlName="status" required>
            <div *ngIf="formGroup.get('status')?.invalid && formGroup.get('status')?.touched" class="text-danger">
                Status is required!
            </div>
        </div>

        <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" class="form-control" formControlName="artist" required>
            <div *ngIf="formGroup.get('artist')?.invalid && formGroup.get('artist')?.touched" class="text-danger">
                Artist name is required!
            </div>
        </div>

        <div class="form-group">
            <label for="categoryId">Category</label>
            <select formControlName="categoryId" class="form-select" required>
                <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
              </select>
              
            <div *ngIf="formGroup.get('categoryId')?.invalid && formGroup.get('categoryId')?.touched" class="text-danger">
                Please select a category!
            </div>
        </div>

        <div class="mb-3">
            <label for="file">Upload Image</label>
            <input type="file" (change)="onFileSelected($event)" class="form-control">
            <div *ngIf="!image" class="text-danger">
                Please select an image!
            </div>
        </div>

        <button class="btn btn-primary mt-3" type="submit" [disabled]="formGroup.invalid">Submit</button>
    </form>
</div>
